<div class="top-info">
  <div *ngIf="error" class="error-box">{{error}}</div>
  <img src="/assets/solar_logo.svg" />
  <app-issue-box [numIssues]=numIssuesCritical
                 [numInspectionsAffected]="numInspectionsCritical"
                 severityType="critical">
  </app-issue-box>
  <app-issue-box [numIssues]=numIssuesWarning
                 [numInspectionsAffected]="numInspectionsWarning"
                 severityType="warning">
  </app-issue-box>
</div>
<app-inspection-table [inspections]="inspectionsInput"></app-inspection-table>
